.main-artworks{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.main-artworks:hover{
    opacity: 0.9;
}

.single-artwork-container{
    width: 350px;
    height: 350px;
    margin: 10px;
}

.artwork-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.delete-cross{
    color: white;
    font-size: 25px;
}

.delete-cross:hover{
    color: darkred;
    font-size: 25px;
}

.delete-button{
    position: relative;
    left: 310px;
    bottom: 40px;
    background: none;
    color: inherit;
    border: none;
    cursor:pointer;
}





